{% extends "base.html" %}


{% block title %}About{% endblock title %}

{% block content %}

<div class="container">
	<div class="row justify-content-center align-items-center">
		<div class="col-md-8">
			<h1>About SecTech</h1>
			<p>
				<h3>Providing Managed IT Security Services to SMBs</h3>
			</p>
			<p>  
				Servicing a broad range of business sectors since 2001, including manufacturing, pharmaceutical, hotel &amp; leisure, logistics, legal and services - and supporting these customers throughout Ireland and the UK.			</p>
			</p>
			<p>
				
			</p>
		</div>
	</div>
</div>

{% endblock content %}
