{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block banner %}
{% endblock banner %}

{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col-lg-8">
      <div class="">
        <h1>Affordable CyberSecurity for SMBs</h1>
          <h2>Secure your business today with our industry leading software & fully managed services</h2>
          <ul class="hero-list">
            <li><strong>On-Demand Technical Support</strong> - Order now and connect with one of our engineers within minutes</li>
            <li>PCI Compliance Scanning</li>
            <li>Web Site Security Scanning</li>
            <li>Fully Automated Off-Site Backup Solutions - servers, M365 Mailboxes, Sharepoint</li>
            <li><strong>Eliminate Email Spam & Malware</strong> with HornetSecurity Email Scanning</li>
            <li>Cyber Security Awareness Training</li>
          </ul>
      </div>
    </div> <!-- /lhs col -->

    <!-- show promoted products -->
    <div class="col-lg-4 d-flex flex-column justify-content-lg-center">
      <div class="py-4 text-center"><h3>Popular Services</h3></div>
      {% for product in promoted_products %}
      <div class="pt-2 row py-2 align-items-center justify-content-center">
        <div class="col-8">
          <strong>{{ product }}</strong>
        </div>
        <div class="">
          <a href="{% url 'product-detail' product.id %}" 
              class="btn btn-success btn-buynow">Buy Now</a>
        </div>
      </div>
      {% endfor %}
    </div>  <!-- /rhs col -->

  </div> <!-- /outer row -->
</div>
{% endblock content %}
