{% extends "base.html" %}
{% load cart_extras %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock extra_css %}

{% block title %}Checkout{% endblock %}

{% block banner %}
<div class="row">
  <div class="col">
    <div class="">
      <h2 class="text-center">Checkout</h2>
    </div>
	</div>
</div>
{% endblock banner %}

{% block content %}
<!-- top row has two columns -->
<div class="row">
  
  <!-- first col customer & invoice -->
	<div class="col-10 offset-1 col-md-5 ml-4">
    <div class="row pl-4 pb-2"><strong>{{customer.name}}</strong></div>
    <div class="row small pl-4">User: {{user.username}}</div>
    <div class="row small pl-4 pb-2">{{user.email}}</div>
    <div class="row pl-4 pb-2">VAT No: {{customer.vat_no|default_if_none:""}}</div>
    
    <div class="">
      <form id="checkout-form" method="POST">
        {% csrf_token %}
        <fieldset class="rounded px-3">
        <legend class="fieldset-label small text-black px-2 w-auto">Your Reference (optional)</legend>
        {{ form.cust_ref | as_crispy_field }}
        </fieldset>

        <fieldset class="px-3">
          <legend class="fieldset-label small px-2 w-auto">Payment</legend>
          <!-- A Stripe card element will go here -->
          <div id="card-element" class="mb-3"></div>
          <!-- Used to display form errors -->
          <div id="card-errors" class="mb-3 px-2 text-danger" role="alert"></div>
          <!-- Pass the client secret to the view so we can get the payment intent id -->
          <input name="client_secret" type="hidden" value="{{ client_secret }}">
        </fieldset>

        <!-- checkout btn -->
        <div class="row pt-3">
          <div class="col d-flex justify-content-center">
            <button id="submit-btn" class="btn btn-warning" type="submit" form="checkout-form">
              <span class="icon pr-2"><i class="fa-solid fa-lock"></i></span>
              Confirm Details & Pay Now
              <span class="icon pl-2"><i class="fa-brands fa-cc-stripe"></i></span>
            </button>
          </div>
        </div>
			</form>
    </div>
    <div class="row text-center">
      <div class="col">
        <p class="text-danger pt-3">
          <span class="pr-1">
            <i class="fas fa-exclamation-circle"></i>
          </span>
          <span>Your card will be charged&nbsp;<strong>&euro;{{ grand_total|floatformat:"2g" }}</strong></span>
        </p>
      </div>
    </div>
  </div>    

  <!-- second col shopping cart -->
  <div class="col mt-2">
    <div class="table d-flex justify-content-center">
      {% if cart_items %}
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th class="text-right">Qty</th>
            <th class="text-right">Price</th>
            <th class="text-right">Cost</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart_items %}
          <tr>
            <td>{{ item.product.desc }}</td>
            <td class="text-right">{{ item.qty }}</td>
            <td class="text-right">{{ item.product.sell_price }}</td>
            <td class="text-right">{{ item.product.sell_price |calc_line_net_amt:item.qty |floatformat:"2g" }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td>Cart total (excl. VAT)</td>
            <td colspan="2" class="text-right">&euro;</td>
            <td class="text-right">{{ net_total |floatformat:"2g" }}</td>
          </tr>
          <tr>
            <td>Total VAT</td>
            <td colspan="2" class="text-right">&euro;</td>
            <td class="text-right">{{ vat_total |floatformat:"2g" }}</td>
          </tr>
          <tr>
            <td>Invoice total (incl. VAT)</td>
            <td colspan="2" class="text-right">&euro;</td>
            <td class="text-right">{{ grand_total |floatformat:"2g" }}</td>
          </tr>
        </tbody>
      </table>

      {% else %}
      <p class="lead mb-5">Your shopping cart is empty.</p>
      {% endif %}
    </div>
  </div>

</div> <!-- /top row -->

<!-- back btn -->
<div class="row pt-4 text-center">
  <div class="col">
    <a href="{% url 'view-cart' %}" class="btn btn-lg">
      <span class="icon"><i class="fas fa-chevron-left"></i></span>
      <span class="text-uppercase">Back to Shopping Cart</span>
    </a>
  </div>
</div>

 <!-- display screen overlay while procesing payment -->
<div id="loading-overlay">
  <div class="text-light logo-font loading-spinner">
      <span class="icon">
          <i class="fas fa-3x fa-sync-alt fa-spin"></i>
      </span>
    </div>
</div>

{% endblock content %}

{% block postload_js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <!-- pass customer vars to stripe element -->
    {{ customer.name|json_script:"id_cust_name" }}
    {{ user.email|json_script:"id_cust_email" }}
    {{ customer.country_code.code|json_script:"id_cust_country" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock postload_js %}
