@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

/**** Global styling ********************************************/
:root {
  /* Initialise gloabl vars */
  /* Sans-Serif font family fallbacks: Arial, Helvetica, sans-serif */
  /* Serif font family fallbacks: Georgia, Times, serif */
  
  --bg-colour: white; /* sitewide background colour */
  --text-colour: #000; /* sitewide text colour */
  --logo-colour: #235594;
  --text-font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  /* --text-font-family: 'Lato', Arial, Helvetica, sans-serif; */
  --logo-font-family: "Lato", serif;
  --text-font-size: 1rem;
  --header-height: 64px;
  --footer-height: 50px;
  --card-border-radius: 15px;

  /*  */
  --btn-buynow-colour: #15d19b;

  /************************************ _TODO *  DON'T FORGET TO REMOVE ME! ******* */
  --tester1: palegreen;
  --tester2: lightblue;
  --tester3: lightpink;
  --tester9: darkgrey;
}

.showme1 {
  background-color: var(--tester1) ;
}

.showme2 {
  background-color: var(--tester2);
}
.showme3 {
  background-color: var(--tester3);
}
.showme9 {
  background-color: var(--tester9);
}/**^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ _TODO ^^^^^^^  DON'T FORGET TO REMOVE ME! ******* */

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--bg-colour) !important;
  color: var(--text-colour);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  margin-bottom: var(--footer-height) !important;
}

footer {
  /* position: absolute; */
  bottom: 0;
  padding-top: 1rem;
  width: 100%;
  /* height: var(--footer-height) !important; */
}

/*** Navbar ********************************************************/
.acc-cart-btns {
  padding-left: 1rem;
  padding-right: 16px;
  min-width: fit-content;
  width: inherit;
}

.acc-nav-link, .cart-nav-link {
  color: var(--text-colour) !important;
}

.acc-nav-link:hover,
.cart-nav-link:hover,
.nav-link:hover {
  color: var(--logo-colour) !important;
  font-weight: bold;
  text-decoration: none !important;
}

.acc-nav-link.active,
.cart-nav-link.active, 
.nav-link.active {
  color: var(--logo-colour) !important;
  font-weight: bold;
}

.logo {
  font: var(--logo-font-family, Georgia, Times, serif) !important;
  font-size: x-large !important;
  font-weight: bolder !important;
  color: var(--logo-colour);
}

/* push the navbar toggler to rhs on mobile */
.navbar {
  width: inherit !important;
}

#nav-wrapper {
  flex-wrap: wrap;
}


/*** Footer ********************************************************/
#socials {
  padding-top: 1rem;
}

.social-link {
  color: black;
}



/*** Main home screen ********************************************/


/*** Products & Shopping Cart ***************************************/
.btn-buynow {
  background-color: var(--btn-buynow-colour);
  color: black;
}

.currency-symbol {
  font-size: smaller;
}  

/* style the product.long_desc text */
.desc-lines {
  line-height: 2;
  white-space: pre-line;
}  

.image-container {
  align-items: center;
  display: flex;
  justify-content: center;
}  

.qty-btn-adj {
  font-size: larger;
}  

.qty-widget {
  align-items: center;
  width: auto !important;
}  

/*- allauth content styling -------------------------------------------------*/
.auth-content {
  /* will use this later to apply styling to  */
  /* all of the allauth template pages _TODO */
}


/*** Overrides for Bootstrap classes ********************
 * 
 * Bootstrap v4.6.1 (https://getbootstrap.com/)
 */
.card {
  border-radius: var(--card-border-radius);
  transition: transform 0.5s ease;
}

.card-delete {
  border-radius: var(--card-border-radius);
}

.card-body {
  line-height: 2;
  white-space: pre-line;
}

.card-body-delete {
  line-height: 1.5;
  padding: 0;
  white-space: pre-line;
}

.card-header, .card-footer {
  background-color: white;
  padding-top: 1.2rem;
}

.card-header {
  border-bottom: none;
}

.card-header:first-child {
  border-radius: var(--card-border-radius);
}

.card-footer {
  border-top: none;
  padding-bottom: 1.2rem;
}

.card-footer:last-child {
  border-radius: var(--card-border-radius);
}

.card:hover {
  transform: scale(1.05);
}


/*--  Media Queries ---------------------------------------------*/
/* for small screens and up  */
@media screen and (min-width: 576px){

  /* right-align the acc menu  */
  .acc-dropdown-menu-align {
    right: 0 !important;
    left: auto !important;
  }

  #nav-wrapper {
    flex-wrap: nowrap;
  }

  .acc-cart-btns {
    padding: 0.5rem 1rem 0 0;
    width: auto;
  }
}


/*- Mailchimp styling -------------------------------------------------*/
#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}
