<footer class="pt-2 bg-light">
  <div class="container-fluid d-flex justify-content-center">
    <!-- LinkedIn -->
      <a  class="social-link" href="https://www.linkedin.com/in/davidwattersit/"
          role="button" target="_blank" aria-label="linkedin link"><i class="fab fa-lg fa-linkedin"></i></a>
      <p class="px-4">Copyright &copy; 2022 David Watters</p>
    <!-- Github link -->
      <a class="social-link" href="https://github.com/davewatters"
          role="button" target="_blank" aria-label="github link"><i class="fab fa-lg fa-github"></i></a>
  </div>
</footer>
