<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="{% url 'home' %}"><span class="logo">SecTech</span></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggle" 
        aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navToggle">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- using nav_<item> block placeholders to set relevnt nav-link "active" class in sub template -->
        <li class="nav-item">
          <a class="nav-link {% block nav_home %}{% endblock %}" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block nav_list %}{% endblock %}" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block nav_about %}{% endblock %}" href="{% url 'about' %}">About Us</a>
        </li>
        
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% block nav_logout %}{% endblock %}" href="{% url 'account_logout' %}">Logout {{ user.username }}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% block nav_signup %}{% endblock %}" href="{% url 'account_signup' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block nav_login %}{% endblock %}" href="{% url 'account_login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
