<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="{% url 'home' %}"><span class="logo">SecTech</span></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggle" 
        aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div id="navToggle" class="collapse navbar-collapse d-flex justify-content-between">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- using nav_<item> block placeholders to set relevant nav-link "active" class in sub template -->
        <li class="nav-item">
          <a class="nav-link {% block nav_home %}{% endblock %}" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block nav_list %}{% endblock %}" href="{% url 'product-list' %}">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block nav_about %}{% endblock %}" href="{% url 'about' %}">About Us</a>
        </li>
      </ul>
    </div> <!-- /navToggle-->

    <!-- My Account btn -->
    <div class="dropdown pr-4 pb-2">
      <a id="account-menu" class="dropdown-toggle cart-nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user fa-lg"></i>
      </a>
      
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="account-menu">
        {% if user.is_authenticated %}
          {% if user.is_superuser %}
          <a href="#" class="dropdown-item">Manage Products</a>
          {% else %}
          <a class="dropdown-item" href="{% url 'customer-detail' user.customer.id %}">Manage Account</a>
          {% endif %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item {% block nav_logout %}{% endblock %}" href="{% url 'account_logout' %}">Logout {{user.username|upper}}</a>
        {% else %}
        <a class="dropdown-item nav-link {% block nav_signup %}{% endblock %}" href="{% url 'account_signup' %}">Register</a>
        <a class="dropdown-item nav-link {% block nav_login %}{% endblock %}" href="{% url 'account_login' %}">Login</a>
        {% endif %}

      </div>
    </div>

    <!-- Shopping Cart link -->
    <div class="text-center">
      <a class="nav-link p-0 cart-nav-link" href="{%  url 'view-cart' %}"><i class="fa-solid fa-cart-shopping fa-lg"></i>
        <p class="my-0">
          <span class="currency-symbol">&euro;</span>
          {% if grand_total %}
            {{ grand_total|floatformat:"2g" }}
          {% else %}
            0.00
          {% endif %}
        </p>
      </a>
    </div>

  </div> <!-- /container -->
</nav>
