<div id="nav-wrapper" class="container-fluid px-0 d-flex justify-content-between align-items-center">

  <!-- resolving url_name to set relevant nav-link "active" class  -->
  {% with request.resolver_match.url_name as url_name %}
  <nav class="navbar navbar-expand-sm navbar-light">
    <!-- Logo -->
    <a class="navbar-brand" href="{% url 'home' %}"><span class="logo">SecTech</span></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggle"
        aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navToggle" class="collapse navbar-collapse">
      <ul class="navbar-nav mb-2 mb-lg-0">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'product-list' %}active{% endif %}" href="{% url 'product-list' %}">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">About Us</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav> <!-- /navbar -->
  
  <div class="acc-cart-btns d-flex justify-content-between">
    <!-- My Account btn -->
    <div class="dropdown pr-4">
      <a id="account-menu" class="acc-nav-link {% if url_name == 'customer-detail' %}active{% endif %}" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
          <div><i class="fas fa-user fa-lg"></i></div>
          <p class="my-0">My Account</p>
        </div>
      </a>
      <div class="dropdown-menu acc-dropdown-menu-align" aria-labelledby="account-menu">
        {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <a href="#" class="dropdown-item">Manage Products</a>
        {% else %}
        <a class="dropdown-item" href="{% url 'customer-detail' user.customer.id %}">Manage Account</a>
        {% endif %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'account_logout' %}">Logout {{user.username|upper}}</a>
        {% else %}
        <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
        <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
        {% endif %}
      </div>
    </div>
    <!-- Shopping Cart link -->
    <div class="text-center">
      <a class="p-0 cart-nav-link {% if url_name == 'view-cart' %}active{% endif %}"
                      href="{% url 'view-cart' %}"><i class="fa-solid fa-cart-shopping fa-lg"></i>
        <p class="my-0">
          <span class="currency-symbol">&euro;</span>
          {% if net_total %}
          {{ net_total|floatformat:"2g" }}
          {% else %}
          0.00
          {% endif %}
        </p>
      </a>
    </div>
  </div>
  {% endwith %}
</div> <!-- /nav-wrapper -->
