{% extends "base.html" %}

{% block title %}New Customer{% endblock %}

{% block content %}

<div class="container">
	<div class="row d-flex justify-content-center">
	
		<div class="col-md-8">
			<h2>Customer Account</h2>
			<div class="row small pl-4">User: {{user.username}}</div>
			<div class="row small pl-4 pb-2">{{user.email}}</div>
			<form method="POST">
				{% csrf_token %}
				{{ form|crispy }}
				<button class="btn btn-info btn-block mb-2" type="submit">Save Details</button>
			</form>
		</div>
	
	</div>
</div>

{% endblock %}
