{% extends "base.html" %}
{% load cart_extras %}

{% block title %}Home{% endblock %}

<!-- nav-bar: add 'active' class to the nav-link -->
{% block nav_cart %}active{% endblock %}

{% block banner %}
<div class="row">
	<div class="col">
    <div class="">
      <h1 class="showme2">Shopping Cart</h1>
    </div>
	</div>
</div>
{% endblock banner %}

{% block content %}
<div class="row">
	<div class="col">
    <div class="">
			{% if cart_items %}
			<table>
				<thead>
					<tr>
						<th>Code</th>
						<th>Description</th>
						<th>Qty</th>
						<th>Price</th>
						<th>Total Cost</th>
					</tr>
				</thead>
				<tbody>
					{% for item in cart_items %}
					<tr>
						<td>{{ item.product.code }}</td>
						<td>{{ item.product.desc }}</td>
						<td>{{ item.qty }}</td>
						<td>{{ item.product.sell_price }}</td>
						<td>{{ item.product.sell_price | calc_linetotal:item.qty }}</td>
					</tr>
					{% endfor %}
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{ grand_total |floatformat:"2g" }}</td>
					</tr>
				</tbody>
			</table>
			<p>{{ grand_total |floatformat:"2g" }}</p>

			{% else %}
			<p class="lead mb-5">Shopping cart is empty.</p>
			{% endif %}
    </div>
	</div>
</div>

<!-- back btn -->
<div class="row pt-4 text-center">
	<div class="col">
		<a href="{% url 'product-list' %}" class="btn btn-lg">
			<span class="icon"><i class="fas fa-chevron-left"></i></span>
			<span class="text-uppercase">Back to Products</span>
		</a>
	</div>
</div>

{% endblock content %}
