{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate '403 Forbidden' %}{% endblock title%}

{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="card shadow text-center">
      <div class="card-body">

        <h1>403 Forbidden</h1>
        <h2>Server Error</h2>
        <hr>
        <p>We’re sorry, but you are not authorised to access the requested content.</p>
        <hr>
        <p><a class="btn-lg btn-info" href="{% url 'home' %}">Go to the SecTech Home Page</a></p>
        
      </div>
    </div>
  </div>
</div>

{% endblock content %}
