{% extends "base.html" %}

{% block title %}Services{% endblock %}

<!-- nav-bar: add 'active' class to the nav-link -->
{% block nav_list %}active{% endblock %}

{% block content %}
<div class="row">

	{% for product in product_list %}
	<div class="col-sm-6 col-lg-4 mt-4">
		<div class="card text-center h-100 shadow">
			<div class="card-header">
				<strong>{{ product.desc }}</strong>
			</div>
			<div class="card-body">
				{{ product.long_desc }}
			</div>
			<div class="card-footer">
				<a href="#" class="btn btn-buynow btn-success"><i class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;Buy Now</a>
			</div>
		</div>  <!-- /card -->
	</div>
	{% empty %}
	<p>Sorry, can't retrieve any products to display right now.</p>
	{% endfor %}

</div>
{% endblock %}
