{% extends "base.html" %}

{% block title %}Update Product{% endblock %}

{% block content %}

<div class="container">
	<div class="row d-flex justify-content-center">
	
		<div class="col-md-8">
			<h2>Update Product</h2>
			<!-- contains image upload, set enctype -->
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form|crispy }}
				<button class="btn btn-info btn-block mb-2" type="submit">Save Details</button>
			</form>
		</div>
	
	</div>
</div>

{% endblock %}
